<div class="jumbotron text-center">
<h1>Projects</h1>
<p>[List of pre-work assignments for Startup Institute]</p>
</div>
<div class="jumbotron">
<h2>Completed:</h2>
<li>CodeAcadamy Ruby Track</li>
<li>Videos: Jacob Wright: HTML, CSS, Javascript</li>
</div>
<div class="jumbotron">
<h2>In Progress:</h2>
<li>OneMonth - Learn Rails - Day 16</li>
<li>Books:</li>
<li>David Kehoe: Learn Ruby on Rails I - 90% - Chapter 14</li>
<li>David Kehoe: Learn Ruby on Rails II - 0%</li>
<li>Eric Ries: The Lean Startup - 70% - page 148</li>
</div>

